.productImageSkeleton {
  width: 100%;
  height: 325px;
  position: relative;
  background-color: #d8d8d8;
  border-radius: 4px;
  animation: loadingAnimation 0.5s infinite alternate;
}
.imageSelfSkeleton {
  width: fit-content;
  height: fit-content;
}
.imageSelfSkeleton {
  width: 100%;
  height: 100%;
}
.productFavoriteSkeleton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.productViewBtnSkeleton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background-color: rgba(109, 132, 255, 0.71);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}

.productDetailsSkeleton {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 1.5rem;
}
.productTitleSkeleton {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  background-color: #d8d8d8;
  border-radius: 4px;
  animation: loadingAnimation 0.5s infinite alternate;
}
.productPriceSkeleton {
  display: flex;
  gap: 5px;
  margin: 0;
  height: 1.5rem;
}
.originalPriceSkeleton {
  width: 72px;
  height: 100%;
  background-color: #d8d8d8;
  border-radius: 4px;
  animation: loadingAnimation 0.5s infinite alternate;
}
.discountedPriceSkeleton {
  width: 72px;
  height: 100%;
  background-color: #d8d8d8;
  border-radius: 4px;
  animation: loadingAnimation 0.5s infinite alternate;
}

@keyframes loadingAnimation {
  0% {
    background-color: #d8d8d8;
  }
  100% {
    background-color: #e0e0e0;
  }
}
